flows.json
[
    {
        "id": "cfdaac38e6a0b145",
        "type": "tab",
        "label": "TAK ASN SIDECAR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e71ffcc.32ba8",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "b78dc12070421d5c",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE LastSeen(id TEXT PRIMARY KEY, lat TEXT, lon TEXT, hae TEXT, ce TEXT, le TEXT)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "3d24aed964ea8ef1",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "DROP TABLE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE LastSeen",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "e6e2d53b7a5f7f0d",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "3d5441a7822941fe"
            ]
        ]
    },
    {
        "id": "3d5441a7822941fe",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "5dc78d389b5dc148",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE DATABASES",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "7dac542fdde70908",
        "type": "tcp out",
        "z": "cfdaac38e6a0b145",
        "name": "SEND-TO-TAK",
        "host": "127.0.0.1",
        "port": "${MON_PORT}",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1880,
        "y": 840,
        "wires": []
    },
    {
        "id": "c0d9ac6e74f95a24",
        "type": "ip",
        "z": "cfdaac38e6a0b145",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": false,
        "internalIPv6": false,
        "publicIPv4": true,
        "publicIPv6": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "ee9bc92f013a5c92"
            ]
        ]
    },
    {
        "id": "87afc73889c1e476",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "SET global.publicip",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "c0d9ac6e74f95a24"
            ]
        ]
    },
    {
        "id": "a2a594e440b35ecb",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "SET GLOBAL PUBLIC IP",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8ee9ec870a7b9f8",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "STALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "5",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "61ade050b350b723",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "STARTTIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "0",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "starttime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fef6bcd925d21514",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "SET TIME VARIABLES",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "a8ee9ec870a7b9f8",
                "61ade050b350b723",
                "467763cdcfba0049",
                "5e1cdadc5e34611e"
            ]
        ]
    },
    {
        "id": "467763cdcfba0049",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "VIDEOSTALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "1",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "22b0e537e04dc5e9",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "SET GLOBAL TIME VARIABLES",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "8e25cdf4adba4304",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "LAST SEEN LOCATION OF CALLSIGN",
        "info": "",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "626f25b30c2f56e9",
        "type": "xml",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "4bc22429be89c2bf",
                "d0d7eb44f6ac3d5a"
            ]
        ]
    },
    {
        "id": "4bc22429be89c2bf",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "let event = msg.payload[\"event\"];\nlet _detail = event[\"detail\"];\nlet detail = _detail[0];\n\nlet name = msg.payload.event.detail[0].contact[0].$.callsign;\nlet lat = msg.payload.event.point[0].$.lat;\nlet lon = msg.payload.event.point[0].$.lon;\nlet hae = msg.payload.event.point[0].$.hae;\nlet ce = msg.payload.event.point[0].$.ce;\nlet le = msg.payload.event.point[0].$.le;\nlet uid = msg.payload.event.$.uid\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le,\n  uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "edd8448042a0e512",
                "f89b99464997a53f"
            ]
        ]
    },
    {
        "id": "edd8448042a0e512",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT\nOR REPLACE INTO LastSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.lat }}\",\n    \"{{ payload.lon }}\",\n    \"{{ payload.hae }}\",\n    \"{{ payload.ce }}\",\n    \"{{ payload.le }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 780,
        "wires": [
            [
                "944ed353ab3f91ee"
            ]
        ]
    },
    {
        "id": "944ed353ab3f91ee",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 920,
        "y": 780,
        "wires": [
            [
                "12363bf61649cba8"
            ]
        ]
    },
    {
        "id": "ee9bc92f013a5c92",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.publicIPv4",
                "pt": "msg",
                "to": "ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "f62624443367d01d"
            ]
        ]
    },
    {
        "id": "f62624443367d01d",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "12363bf61649cba8",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "0f7b81ae56a90cea",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CHECK FOR NEW USERS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 880,
        "wires": [
            [
                "ac2f7aeb134767a7"
            ]
        ]
    },
    {
        "id": "8e94597b25c3c9db",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirtSeen",
        "x": 700,
        "y": 880,
        "wires": [
            [
                "acad3dfe57b8629e"
            ]
        ]
    },
    {
        "id": "ac2f7aeb134767a7",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  FirtSeen",
        "output": "str",
        "x": 520,
        "y": 880,
        "wires": [
            [
                "8e94597b25c3c9db"
            ]
        ]
    },
    {
        "id": "f89b99464997a53f",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO FirtSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.uid }}\",\n    \"{{ global.ts }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "4515a50fff6ab1c3"
            ]
        ]
    },
    {
        "id": "4515a50fff6ab1c3",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 920,
        "y": 720,
        "wires": [
            [
                "ea685ea51d252cf4"
            ]
        ]
    },
    {
        "id": "d967d2660a6b72ff",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "8c4b46161fc5522c"
            ]
        ]
    },
    {
        "id": "427424acdf3c153a",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE FirtSeen(id TEXT PRIMARY KEY, uid, ts)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d967d2660a6b72ff"
            ]
        ]
    },
    {
        "id": "8c4b46161fc5522c",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e1cdadc5e34611e",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "GLOBAL TS",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "bd1f2ce7346aad54"
            ]
        ]
    },
    {
        "id": "bd1f2ce7346aad54",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "aee342a0874ef1b7",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "SEND WELCOME",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.ASN-TAK-BOT-FAKE-UID.{{ payload.id }}.JunkMessageId-{{ payload.id }}-{{ global.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n\t<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n\t<detail>\n\t\t<__chat parent=\"RootContactGroup\" groupOwner=\"false\" messageId=\"JunkMessageId-{{ payload.id }}-{{ global.ts }}\" chatroom=\"{{ payload.id }}\" id=\"{{ payload.uid }}\" senderCallsign=\"ASN-TaskmasterT\">\n\t\t\t<chatgrp uid0=\"ASN-TAK-BOT-FAKE-UID\" uid1=\"{{ payload.uid }}\" id=\"{{ payload.uid }}\"/>\n\t\t</__chat>\n\t\t<__serverdestination destinations=\"{{ global.ip }}:tcp:{{ payload.uid }}\" />\n\t\t<link uid=\"ASN-TAK-BOT-FAKE-UID\" type=\"a-f-G-U-C\" relation=\"p-p\"/>\n\t\t<remarks source=\"BAO.F.ATAK.ASN-TAK-BOT-FAKE-UID\" to=\"{{ payload.uid }}\" time=\"{{ global.starttime }}\">\nWelcome to the ASN ATAK orienteering training server. \n\n\nMessage the ASN-Taskmaster 'Start' to receive the first objective.\n\n      </remarks>\n\t\t<marti>\n\t\t\t<dest callsign=\"{{ payload.id }}\"/>\n\t\t</marti>\n\t</detail>\n</event>",
        "output": "str",
        "x": 1430,
        "y": 880,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "ea685ea51d252cf4",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "b3f06a54d086d62a",
        "type": "catch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "36f85feb9687f191"
            ]
        ]
    },
    {
        "id": "36f85feb9687f191",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: FirtSeen.id\"",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1580,
        "wires": [
            [
                "a1b3bf7f5582bfc9"
            ],
            [
                "115cab0577cf345f"
            ]
        ]
    },
    {
        "id": "a1b3bf7f5582bfc9",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1560,
        "wires": []
    },
    {
        "id": "115cab0577cf345f",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1600,
        "wires": []
    },
    {
        "id": "acad3dfe57b8629e",
        "type": "split",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 880,
        "wires": [
            [
                "87c97adf9f63be1a"
            ]
        ]
    },
    {
        "id": "87c97adf9f63be1a",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "CHECK TIME DIFF",
        "func": "timea = msg.payload.ts\ntimeb = global.get(\"ts\")\ntimec = timeb - timea\n\n\nmsg.timediff = {\n  timea:timea,\n  timeb:timeb,\n  diff:timec\n}\n\nif (msg.timediff.diff <= 15000){\n    return msg;\n}\nelse {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 880,
        "wires": [
            [
                "aee342a0874ef1b7"
            ]
        ]
    },
    {
        "id": "bece0024ea691f01",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE FAKE ASN-Questgiver USER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 840,
        "wires": [
            [
                "7dc139f2c2fcd057"
            ]
        ]
    },
    {
        "id": "7dc139f2c2fcd057",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "SEND BOT CREATION",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"ASN-TAK-BOT-FAKE-UID\" type=\"a-f-G-U-C\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n\t<point lat=\"90.0\" lon=\"135.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n\t<detail>\n\t\t<takv os=\"31\" version=\"1\" device=\"ASN-TAK-BOT\" platform=\"ATAK-CIV\"/>\n\t\t<contact endpoint=\"*:-1:stcp\" callsign=\"ASN-Taskmaster\"/>\n\t\t<uid Droid=\"ASN-Taskmaster\"/>\n\t\t<__group role=\"Team Member\" name=\"Black\"/>\n\t\t<status battery=\"1337\"/>\n\t\t<track course=\"0.0\" speed=\"0.0\"/>\n\t</detail>\n</event>",
        "output": "str",
        "x": 910,
        "y": 840,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "e41725d924a6f71d",
        "type": "tcp in",
        "z": "cfdaac38e6a0b145",
        "name": "FETCH-FROM-TAK",
        "server": "client",
        "host": "127.0.0.1",
        "port": "${MON_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "626f25b30c2f56e9"
            ]
        ]
    },
    {
        "id": "c046df47d42da9f5",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "TEXT TRIGGER",
        "property": "payload.event.detail[0].remarks[0]._",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "start",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "poop",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "fisk",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "bingbong",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "mellom rom",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "ping",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "aa3a2b3cc3d4b5ec"
            ],
            [],
            [],
            [],
            [],
            [
                "77fb1a86467424e4"
            ]
        ]
    },
    {
        "id": "d0d7eb44f6ac3d5a",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "let event = msg.payload[\"event\"];\nlet _detail = event[\"detail\"];\nlet detail = _detail[0];\n\nlet name = msg.payload.event.detail[0].__chat[0].$.senderCallsign;\nlet uid = msg.payload.event.detail[0].__chat[0].chatgrp[0].$.uid0\n\nmsg.payload.bonus = {\n  name: name,\n  uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "c046df47d42da9f5"
            ]
        ]
    },
    {
        "id": "aa3a2b3cc3d4b5ec",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "REPLY START",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.ASN-TAK-BOT-FAKE-UID.{{ payload.bonus.id }}.JunkMessageId-{{ payload.bonus.id }}-{{ global.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n\t<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n\t<detail>\n\t\t<__chat parent=\"RootContactGroup\" groupOwner=\"false\" messageId=\"JunkMessageId-{{ payload.bonus.id }}-{{ global.ts }}\" chatroom=\"{{ payload.bonus.id }}\" id=\"{{ payload.bonus.uid }}\" senderCallsign=\"ASN-TaskmasterT\">\n\t\t\t<chatgrp uid0=\"ASN-TAK-BOT-FAKE-UID\" uid1=\"{{ payload.bonus.uid }}\" id=\"{{ payload.bonus.uid }}\"/>\n\t\t</__chat>\n\t\t<__serverdestination destinations=\"{{ global.ip }}:tcp:{{ payload.bonus.uid }}\" />\n\t\t<link uid=\"ASN-TAK-BOT-FAKE-UID\" type=\"a-f-G-U-C\" relation=\"p-p\"/>\n\t\t<remarks source=\"BAO.F.ATAK.ASN-TAK-BOT-FAKE-UID\" to=\"{{ payload.bonus.uid }}\" time=\"{{ global.starttime }}\">\nYour first task is something.. \n      </remarks>\n\t\t<marti>\n\t\t\t<dest callsign=\"{{ payload.bonus.id }}\"/>\n\t\t</marti>\n\t</detail>\n</event>",
        "output": "str",
        "x": 920,
        "y": 1000,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "77fb1a86467424e4",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "REPLY PONG",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.ASN-TAK-BOT-FAKE-UID.{{ payload.bonus.id }}.JunkMessageId-{{ payload.bonus.id }}-{{ global.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n\t<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n\t<detail>\n\t\t<__chat parent=\"RootContactGroup\" groupOwner=\"false\" messageId=\"JunkMessageId-{{ payload.bonus.id }}-{{ global.ts }}\" chatroom=\"{{ payload.bonus.id }}\" id=\"{{ payload.bonus.uid }}\" senderCallsign=\"ASN-TaskmasterT\">\n\t\t\t<chatgrp uid0=\"ASN-TAK-BOT-FAKE-UID\" uid1=\"{{ payload.bonus.uid }}\" id=\"{{ payload.bonus.uid }}\"/>\n\t\t</__chat>\n\t\t<__serverdestination destinations=\"{{ global.ip }}:tcp:{{ payload.bonus.uid }}\" />\n\t\t<link uid=\"ASN-TAK-BOT-FAKE-UID\" type=\"a-f-G-U-C\" relation=\"p-p\"/>\n\t\t<remarks source=\"BAO.F.ATAK.ASN-TAK-BOT-FAKE-UID\" to=\"{{ payload.bonus.uid }}\" time=\"{{ global.starttime }}\">pong\n      </remarks>\n\t\t<marti>\n\t\t\t<dest callsign=\"{{ payload.bonus.id }}\"/>\n\t\t</marti>\n\t</detail>\n</event>",
        "output": "str",
        "x": 920,
        "y": 1080,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    }
]
